In [1]:
import pandas as pd
import math
import random
import numpy as np
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
df = pd.read_csv("SATData.csv")
print(df)

     Unnamed: 0  GPA   SAT
0             0  3.4  1270
1             1  4.0  1220
2             2  3.8  1160
3             3  3.8   950
4             4  4.0  1070
..          ...  ...   ...
995         995  3.7  1000
996         996  3.3  1080
997         997  3.5  1140
998         998  2.3  1200
999         999  2.7   930

[1000 rows x 3 columns]

In [3]:
df.drop(["Unnamed: 0"], axis=1, inplace = True)
print(df)

     GPA   SAT
0    3.4  1270
1    4.0  1220
2    3.8  1160
3    3.8   950
4    4.0  1070
..   ...   ...
995  3.7  1000
996  3.3  1080
997  3.5  1140
998  2.3  1200
999  2.7   930

[1000 rows x 2 columns]

In [4]:
df.isnull().values.any()

False

In [5]:
df.describe()

               GPA          SAT
count  1000.000000  1000.000000
mean      3.203700  1033.290000
std       0.542541   142.873681
min       1.800000   530.000000
25%       2.800000   930.000000
50%       3.200000  1030.000000
75%       3.700000  1130.000000
max       4.500000  1440.000000

In [6]:
df.sort_values(by='SAT', ascending=False)

     GPA   SAT
955  4.0  1440
8    4.0  1440
526  4.0  1440
968  4.0  1420
991  4.0  1410
..   ...   ...
155  2.4   700
198  2.3   670
708  2.5   650
255  3.0   650
509  2.5   530

[1000 rows x 2 columns]

In [7]:
df.sort_values(by='GPA', ascending=False)

     GPA   SAT
611  4.5   790
500  4.0  1290
775  4.0   960
163  4.0  1050
164  4.0  1230
..   ...   ...
940  2.0   970
157  2.0  1030
355  2.0   810
104  2.0  1140
590  1.8   870

[1000 rows x 2 columns]

In [8]:
dfTrain = df.loc[:699]
dfTest = df.loc[700:]

In [9]:
dfTest.describe()

              GPA          SAT
count  300.000000   300.000000
mean     3.171000  1039.933333
std      0.529206   140.279209
min      2.000000   650.000000
25%      2.800000   940.000000
50%      3.200000  1040.000000
75%      3.600000  1140.000000
max      4.000000  1440.000000

In [10]:
dfTrain.describe()

              GPA          SAT
count  700.000000   700.000000
mean     3.217714  1030.442857
std      0.547932   143.976645
min      1.800000   530.000000
25%      2.800000   930.000000
50%      3.300000  1030.000000
75%      3.700000  1120.000000
max      4.500000  1440.000000

In [11]:
dfTrain.head()

   GPA   SAT
0  3.4  1270
1  4.0  1220
2  3.8  1160
3  3.8   950
4  4.0  1070

In [12]:
def lineReg(dfTrain):
    count = 0
    slopes = {}
    while count< 100:
        a = random.randint(1, 100) #slope
        b = 1 #coefficient to y
        c = 900 #yint
        sum = sumOfDistances(a, b, c, dfTrain)
        slopes[a] = sum
        count = count + 1
    print(slopes)

In [13]:
def sumOfDistances(a, b, c, dfTrain):
    sum = 0
    for row in range(0, len(dfTrain.index)):
        gpa = dfTrain.iat[row, 0]
        sat = dfTrain.iat[row, 1]
        distance = abs((a * gpa) + (b * sat + c)) / (math.sqrt(a * a + b * b))
        sum = sum + distance
    return sum

In [14]:
lineReg(dfTrain)

{71: 21282.82434348722, 12: 114464.80704702817, 43: 33669.110503138625, 66: 22724.185711470116, 94: 16627.097452068687, 29: 48820.280037995624, 81: 18933.796656358878, 49: 29823.945014516, 48: 30398.095573375733, 77: 19800.21081329102, 8: 169844.38388725306, 69: 21834.30998072022, 55: 26817.240491808734, 70: 21554.629231671617, 74: 20511.473179616594, 75: 20268.065140940613, 90: 17265.889792782236, 36: 39773.44715364006, 37: 38760.13810719255, 51: 28743.149637165247, 2: 606338.8115400564, 19: 73272.56358591042, 89: 17434.557934117845, 86: 17964.092571296038, 34: 41978.65883030919, 7: 193333.85513656095, 52: 28233.910484359632, 9: 151465.8492241797, 50: 29272.746036130626, 20: 69730.7909205394, 87: 17783.524128895, 33: 43181.36627284483, 24: 58506.21870885095, 23: 60947.42962789532, 21: 66525.11265000142, 63: 23698.77978241018, 46: 31621.233294374055, 15: 92135.21540043718, 88: 17607.0586718557, 84: 18338.124385296447, 64: 23363.76690172549, 4: 329925.96443517425, 96: 16327.660025112133, 44: 32955.48077834136, 5: 267222.3544875056, 14: 98523.52709466092, 98: 16040.442480999758, 92: 16939.551521076948, 16: 86540.41549213184, 42: 34416.69370254103, 76: 20031.060821165098, 18: 77206.12431567124, 31: 45819.21201948654, 56: 26378.730257063755, 40: 36023.89429146371, 80: 19142.27956782179, 25: 56259.81014063864, 93: 16781.644932368737, 83: 18531.89838685453, 78: 19575.278494889397, 41: 35200.71187437655, 59: 25152.346776697283, 97: 16182.570998987903, 35: 40844.58928283554}

In [15]:
def MSE(dfTest, m, b):
    sum = 0
    for row in range(0, len(dfTest.index)):
        gpa = dfTest.iat[row, 0]
        actual = dfTest.iat[row,1]
        predicted = m * gpa + b
        sum = sum + (predicted - actual)*(predicted - actual)
    return sum/len(dfTest.index)

In [16]:
print(MSE(dfTest, 162.5, 535))

15741.078125

In [17]:
regr = linear_model.LinearRegression()

In [18]:
regr.fit(dfTrain, dfTrain['SAT'])

LinearRegression()

In [19]:
predictions = regr.predict(dfTest)

In [20]:
print("Coefficients: \n", regr.coef_)

Coefficients:
 [4.03108608e-15 1.00000000e+00]

In [21]:
mean_squared_error(dfTest['GPA'],predictions)

1094419.2343666668